@font-face {
	font-family: Libertine;
	src: url(../font/LinLibertine_Rah.ttf);
}
@font-face {
	font-family: Biolinum;
	src: url(../font/LinBiolinum_RBah.ttf);
}

.home_content {
	font-family: Libertine;
	font-size: 1.2em;
}


.home_content h1, .home_content h2, .home_content h3, .home_content h4, .home_content h5, .home_content h6 {
	font-family: Biolinum;
}


@media all and (max-width: 649px) {
	.home_content h1 { font-size: 1.4em; }
	.home_content h2 { font-size: 1.2em; }
	.home_content h3 { font-size: 1.05em; }
}

#logo-link {
	position: relative;
}
#logo-link:hover {
	text-decoration: none;
}
#header-logo-text {
	position: relative;
	font-size: 40px;
	font-weight: bold;
	top: 14px;
	margin-left: 10px;
	color: black;
}
#header-logo-text:hover {
	text-decoration: none;
}

@media all and (max-width: 650px) {
	#header-motto {
		display: none;
	}
}
@media all and (max-width: 426px) {
	#header-logo-text {
		display: none;
	}
}
