<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://doc.uipath.com">UiPath Doc</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://www.uipath.com"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li class=""><a href="http://www.twitter.com/screenscraper" rel="tooltip" title="Go to twitter.com/screenscraper" target="_blank">Twitter</a></li>
					<li class=""><a href="http://github.com/deskover" rel="tooltip" title="Go to github.com/deskover" target="_blank">GitHub</a></li>
					<li class=""><a href="http://www.linkedin.com/pub/deskover" rel="tooltip" title="Go to LinkedIn profile" target="_blank">LinkedIn</a></li>
				</ul>
			 </li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Projects <b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="https://github.com/Deskover/UiPath" rel="tooltip" title="Go to UiPath on GitHub" target="_blank">UiPath</a></li>					
					<li class=""><a href="https://github.com/Deskover/WordCaptureSamples" rel="tooltip" title="Go to WordCaptureSamples on GitHub">WordCapture</a></li>
				</ul>
			 </li>			
		</ul>		
	  </div>
	</div>
  </div>
</div>