<div id="container" class="">
    <div id="header-container">
        <div id="header">
            <a href="/" class="link_logo" alt="logo"><img src="/img/logo.png" class="logo_holder" alt=""></a>
			<span class="header_small_motto">Understands User Interface</span>
			<div class="navigation">
				<ul>
					<li><a href="http://www.uipath.com/" title="Home">Home</a></li>
					<li><a href="/posts.html" title="Blog">Blog</a></li>
					<li><a href="https://github.com/Deskover/UiPath/wiki" title="Documentation">Wiki</a></li>
				</ul>
			</div>       
		</div>
    </div>
</div>
